.header {
  margin-top: 1rem;
  display: flex;
  gap: 550px;

  border-bottom: 2px solid #dddddd2a;
}

.Logo {
  width: 5rem;
  margin-left: 5rem;
  margin-bottom: 10px;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 40px;
}

.search-input-wrapper input {
  flex: 1;
  height: 100%;
  padding: 0 12px;
  font-size: 15px;
  color: #fff;

  background-color: #3b3a3aaf;
  border: 1px solid #504d4d;

  border-right: none;

  border-radius: 40px 0 0 40px;
  outline: none;
}

.search-input-wrapper button {
  width: 64px;
  height: 100%;

  border: 1px solid #504d4d;
  background-color: #3e3b3b;
  border-radius: 0 40px 40px 0;

  cursor: pointer;
}
.search-input-wrapper button:hover {
  background-color: #303030;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1.5rem;
  }

  .Logo {
    margin-left: 0;
  }
}
