.video-wrapper {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.prev {
  width: 500px;
  border-radius: 15px;
}

.video-card .content {
  padding: 12px;
  color: #fff;
}

.video-card {
  border-radius: 30px;
  color: #ffffffcc;
  border-radius: 30px;
  padding: 12px;
  overflow: hidden;
  background-color: #181818;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.video-card img {
  display: block;
  border-bottom: 1px solid #303030;
}

.video-card .content {
  padding: 12px;
  color: #fff;
}

.video-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.user {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
}

.description {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
}
.views {
  font-size: 16px;
  color: #aaaaaa;
}
